:root {
	--main-title-color: #fff;
	--accent-color: #2196f3;
	--color-titles: #212121;
	--color-text: #757575;
	--color-fon: #f5f4fa;
	--color-fon-banner: #2f303a;
	--color-black: #000;
	--main-button-accent: #188ce8;
	--contacts-in-footer: rgba(255, 255, 255, 0.6);
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--main-title-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--color-titles);
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

.page-header {
	background-color: var(--main-title-color);
}

.logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}
.color-black {
	color: var(--color-black);
}
.site-nav a:hover,
.auth-nav a:hover,
.site-nav a:focus,
.auth-nav a:focus {
	cursor: pointer;
	color: var(--accent-color);
}
.site-nav a {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--color-titles);
}
.site-nav .current {
	color: var(--accent-color);
}
.auth-nav a {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--color-text);
}
.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.banner {
	background-color: var(--color-fon-banner);
}
.banner-title {
	margin-top: 0;
	margin-bottom: 30;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-title-color);
}
.main-button {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
	letter-spacing: 0.06em;
	color: var(--main-title-color);
	background-color: var(--accent-color);
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}
.main-button:hover,
.main-button:focus {
	color: var(--main-title-color);
	background-color: var(--main-button-accent);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.pec-list {
	background-color: var(--main-title-color);
}
.pec-list-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-titles);
}
.pec-list-text {
	font-weight: 400;
	line-height: 1.7;
	color: var(--colr-text);
}
.doing {
	background-color: var(--main-title-color);
}
.doing-title,
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--color-titles);
}
.team {
	background-color: var(--color-fon);
}

.team-card {
	background-color: var(--main-title-color);
}
.card-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;

	color: var(--color-titles);
}
.card-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;

	color: var(--color-text);
}
footer {
	background-color: var(--color-fon-banner);
}
.color-white {
	color: var(--main-title-color);
}
address {
	font-weight: 400;
	line-height: 1.7;
	font-style: normal;
}
.adr {
	color: var(--main-title-color);
}
.mail,
.tel {
	color: var(--contacts-in-footer);
}
address a:hover,
address a:focus {
	color: var(--accent-color);
}
.portflio {
	background-color: var(--main-title-color);
}
.filters button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--color-titles);
	background-color: var(--color-fon);
}
.filters button:hover,
.filters button:focus {
	color: var(--main-title-color);
	background-color: var(--accent-color);
}

button {
	border: none;
}
.cads {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--color-titles);
}
.cards-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	color: var(--color-text);
}

.container {
	width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
